//Colours
$purple: #4b4b99;
$yellow: #fdb825;
$lightgrey: #e0dfe0;
$selectiongrey: rgba(0,0,0,.045);
$background: #fff;
$body: #262262;

// Font Stacks
$ptmono: 'PT Mono', sans-serif;
$oswald: 'Oswald', sans-serif;