// Main

@font-face {
    font-family: 'sillyconvo';
    src: url('../fonts/sillyconvo.eot?61765168');
    src: url('../fonts/sillyconvo.eot?61765168#iefix') format('embedded-opentype'),
       url('../fonts/sillyconvo.woff?61765168') format('woff'),
       url('../fonts/sillyconvo.ttf?61765168') format('truetype'),
       url('../fonts/sillyconvo.svg?61765168#fontello') format('svg');
    font-weight: normal;
    font-style: normal;
}

[class^="icon-"]:before, [class*=" icon-"]:before {
    font-family: "sillyconvo";
    font-style: normal;
    font-weight: normal;
    speak: none;

    display: inline-block;
    text-decoration: inherit;
    margin-right: .2em;
    text-align: center;

    font-variant: normal;
    text-transform: none;

    line-height: 1em;
    margin-left: .2em;
    font-size: 350%;
}
 
.icon-chat:before { content: '\e800'; } /* '' */
.icon-info:before { content: '\e801'; } /* '' */
.icon-location:before { content: '\e802'; } /* '' */
.icon-what:before { content: '\e803'; } /* '' */
.icon-happy:before { content: '\e804'; } /* '' */

@-moz-viewport { width: device-width; scale: 1; }
@-ms-viewport { width: device-width; scale: 1; }
@-o-viewport { width: device-width; scale: 1; }
@-webkit-viewport { width: device-width; scale: 1; }
@viewport { width: device-width; scale: 1; }

html {
    box-sizing: border-box;
    text-size-adjust: 100%;
}

*, *:before, *:after {
    box-sizing: inherit;
    padding: 0;
    margin: 0;
}

::selection {
    background-color: $selectiongrey;
}

body {
    background-color: $background;
    font-family: $ptmono;
    color: $body;
    text-align: center;
    text-transform: uppercase;
}

.push-down {
    margin-top: 3rem;
}

.push-down-half {
    margin-top: 1.5rem;
}

h1 {
    font-family: $oswald;
    color: $purple;
    text-transform: uppercase;
    font-size: 8rem;
    line-height: 1;
}

h2 {
    font-size: 1rem;
    letter-spacing: 5px;
    color: $yellow;
}

p {
    letter-spacing: 2px;
    line-height: 1.35;
    font-size: 0.65rem;
}

.light-grey {
    color: $lightgrey;
    letter-spacing: 5px;
    font-size: 1rem;
}

/* Toggle */

.toggle {
    position: absolute;
    margin-left: -9999px;
    visibility: hidden;
}

.toggle + label {
    display: block;
    margin: 0 auto;
    position: relative;
    cursor: pointer;
    outline: none;
    user-select: none;
}

input.toggle-round-flat + label {
    padding: 2px;
    width: 102px;
    height: 40px;
    margin: 2rem auto;
    background-color: $purple;
    border-radius: 60px;
    transition: background 0.4s;
}

input.toggle-round-flat + label:before, input.toggle-round-flat + label:after {
    display: block;
    position: absolute;
    content: "";
}

input.toggle-round-flat + label:before {
    top: 4px;
    left: 4px;
    bottom: 4px;
    right: 4px;
    background-color: $background;
    border-radius: 60px;
    transition: background 0.4s;
}

i {
    color: $purple;
    transition: color 0.4s;
}

input.toggle-round-flat + label:after {
    top: 7px;
    left: 7px;
    bottom: 7px;
    width: 60px;
    background-color: $purple;
    border-radius: 52px;
    transition: margin 0.4s, background 0.4s;
}

input.toggle-round-flat:checked + label {
    background-color: $yellow;
    color: $yellow;
    i {
        color: $yellow;
    }
}

input.toggle-round-flat:checked + label:after {
    margin-left: 27px;
    background-color: $yellow;
    color: $yellow;
}

label {
    position: relative;
}

.holder {
    position: absolute;
    top: 4rem;
    margin-left: -7rem;
    width: 20rem;
    pointer-events: none;
}